{% extends "my_account.html" %}

{% block content_section %}
  <style>
    #myAdresses {
        background: #4CAF50;
        color: white;
    }

    .btn.danger {
      background: #ef4444;
      color: #fff;
      margin-left: 6px;
    }

  </style>
  <section id="adress" class="content-section">
    <h1>Meus Endereços</h1>
    {% if addresses %}
      {% for address in addresses %}
        <div class="card" style="margin: 10px;">
          <strong>{{address.adress_name}}</strong>
          <p>
            {{address.street}}, {{address.number}}<br>
            Bairro: {{address.district}}<br>
            {{address.city}} - {{address.uf}}<br>
            CEP: {{address.zip_code}}
          </p>
          <div style="margin-top: 15px; display: flex;">
            <a href="{% url 'update_address' address.pk %}"><button class="btn secondary">Editar</button></a>
            <form action="{% url 'delete_address' address.pk %}" method="post">
              {% csrf_token %}
              <button class="btn danger" type="submit" onclick="return confirm('Tem certeza que deseja deletar o endereço?')">
                Exluir
              </button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      
    {% endif %}
    <a href="{% url 'create_address' %}">
      <button id="btn" class="btn" style="margin-top: 10px;">+ Adicionar novo endereço</button>
    </a>
  </section>

  <!-- <script>
    btn = document.getElementById('btn');
    form = document.getElementById('address_form');
    message = document.getElementById('message');

    btn.addEventListener('click', () => {
      if(form.style.display === 'none') {
        form.style.display = 'block'
        btn.style.display = 'none'
        message.style.display = 'none'
      } else {
        form.style.display = 'none'
        btn.style.display = 'block'
        message.style.display = 'block'
      }
    });
  </script> -->
{% endblock content_section %}