{% extends "base.html" %}

{% block title_content %}
  <title>Finalizar Compra — Mercadinho X</title>
{% endblock title_content %}

{% block content %}
<style>
  .checkout-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 24px;
  }

  .checkout-left,
  .checkout-right {
      background: #fff;
      padding: 20px;
      border-radius: 8px;
  }

  .checkout-right {
    display: flex;
    flex-direction: column;
    height: 80vh; /* controla a altura da coluna */
  }

  .order-items {
      flex: 1;
      overflow-y: auto;
      padding-right: 8px;
  }

  .table_itens table {
    border-collapse: collapse;
    background: #fff;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    overflow: hidden;
  }

  .table_itens th, td {
    padding: 16px;
    text-align: center;
    border-bottom: 1px solid #e5e7eb;
  }

  .table_itens th {
    background: #f3f4f6;
    font-weight: 600;
  }

  .table_itens tr:last-child td {
    border-bottom: none;
  }

  .table_itens img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    border-radius: 8px;
  }

  /* botão fixo dentro da coluna */
  .order-footer {
      position: sticky;
      bottom: 0;
      background: #fff;
      padding-top: 12px;
      border-top: 1px solid #ddd;
  }

  .btn-confirm {
      width: 100%;
      background: #198754;
      color: #fff;
      padding: 12px;
      border-radius: 8px;
      border: none;
      font-size: 16px;
  }


  .address-card {
      display: flex;
      align-items: center;
      gap: 16px;
      padding: 12px;
      border: 1px solid #ddd;
      border-radius: 8px;
      margin-bottom: 12px;
      cursor: pointer;
  }

  .address-card input {
      margin-top: 4px;
  }

  .address-info {
      flex: 1;
  }

  .btn-edit {
      background: #0d6efd;
      color: #fff;
      padding: 6px 12px;
      border-radius: 6px;
      text-decoration: none;
  }

  .btn-add {
      display: inline-block;
      margin-top: 10px;
      background: var(--accent);
      color: #fff;
      padding: 8px 14px;
      border-radius: 6px;
      text-decoration: none;
  }

  .payment-section {
    margin-top: 24px;
  }

  .payment-label {
      display: block;
      font-weight: 600;
      margin-bottom: 8px;
  }

  .custom-select {
      position: relative;
  }

  .custom-select select {
      width: 100%;
      padding: 12px 40px 12px 12px;
      border-radius: 8px;
      border: 1px solid #ddd;
      background-color: #fff;
      font-size: 14px;
      cursor: pointer;

      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
  }

  /* seta customizada */
  .custom-select::after {
      content: "▾";
      position: absolute;
      right: 14px;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;
      font-size: 14px;
      color: #555;
  }

  /* foco */
  .custom-select select:focus {
      outline: none;
      border-color: #198754;
      box-shadow: 0 0 0 2px rgba(25, 135, 84, 0.2);
  }


  .product-row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;
  }

  .total {
      font-size: 20px;
      font-weight: bold;
      margin-top: 12px;
  }

  .btn-confirm {
      width: 100%;
      margin-top: 20px;
      background: var(--accent);
      color: #fff;
      padding: 12px;
      border-radius: 8px;
      border: none;
      font-size: 16px;
  }
</style>

<form method="post">
    {% csrf_token %}

    <div class="checkout-container">

        <!-- COLUNA ESQUERDA -->
        <div class="checkout-left">

            <h3>Endereço de Entrega</h3>

            {% for address in addresses %}
                <label class="address-card">
                    <input
                        type="radio"
                        name="address"
                        value="{{ address.id }}"
                        {% if form.address.value|stringformat:"s" == address.id|stringformat:"s" %}
                            checked
                        {% endif %}
                    >

                    <div class="address-info">
                        <strong>{{ address.street }}, {{ address.number }}</strong>
                        <p>{{ address.district }} - {{ address.city }} - {{ address.uf }}</p>
                        <p>CEP: {{ address.zip_code }}</p>
                    </div>

                    <a href="{% url 'update_address' address.id %}?next={{ request.path}}" class="btn-edit">
                        Editar
                    </a>
                </label>
            {% endfor %}

            <a href="{% url 'create_address' %}?next={{ request.path}}" class="btn-add">
                + Adicionar Endereço
            </a>

            <div class="payment-section">
                <label for="id_payment_method" class="payment-label">
                    Forma de Pagamento
                </label>

                <div class="custom-select">
                    {{ form.payment_method }}
                </div>
            </div>


        </div>

        <!-- COLUNA DIREITA -->
        <div class="checkout-right">

            <h3>Resumo do Pedido</h3>

            <div class="order-items">
                <table id="cart-table" class="table_itens" style="width: 100%;">
                  <thead>
                    <tr>
                      <th>Produto</th>
                      <th>Preço</th>
                      <th>Quantidade</th>
                      <th>Total</th>
                    </tr>
                  </thead>
                  <tbody id="cart-body" >
                    {% for item in cart.itens.all %}
                      <tr>
                        <td>
                          <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-around">
                            <div>
                              <img src="{{item.product.photo.url}}" alt="{{item.name}}">
                            </div>
                            <div style="width: 50%;">
                              {{ item.product.name }}
                            </div>
                          </div>
                        </td>
                        <td>R$ {{ item.product.price|floatformat:2 }}</td>
                        <td>
                          <div style="display: flex; flex-direction: row; justify-content: space-evenly;">
                            <form action="{% url 'decrease_quantity' item.pk %}" method="post">
                              {% csrf_token %}
                              {% if item.quantity > 1 %}
                              <button type="submit"><strong>-</strong></button>
                              {% else %}
                              <button type="submit" onclick="return confirm('Tem certeza que deseja remover este item do carrinho?')">
                                <strong>-</strong>
                              </button>
        
                              {% endif %}
                            </form>
                            {{ item.quantity }}
                            <form action="{% url 'add_to_cart' item.product.pk %}" method="post">
                              {% csrf_token %}
                              <button type="submit"><strong>+</strong></button>
                            </form>
        
                          </div>
                        </td>
                        <td>R$ {{ item.get_subtotal|floatformat:2 }}</td>
                      </tr>
                        {% endfor %}
                  </tbody>
                </table>
            </div>

            <div class="order-footer">
                <div class="total">
                    Total: R$ {{ cart.total }}
                </div>

                <button type="submit" class="btn-confirm">
                    Confirmar Compra
                </button>
            </div>

        </div>


    </div>
</form>
{% endblock content %}