{% extends "my_account.html" %}

{% block content_section %}
  <style>
    #myOrders {
        background: #4CAF50;
        color: white;
    }
  </style>
  <!-- Meus Pedidos -->
  <section class="content-section">
      <h1>Meus Pedidos</h1>
      {% for order in orders %}
        <a href="{% url 'order_detail' order.pk %}" style="text-decoration: none; color: inherit;">
          <div class="order-item">
          <strong>Pedido #{{order.id}}</strong> — {{order.created_at}} <br>
          Total: <span style="color:#4CAF50;">{{ order.total }}</span>
          {% for item in orders.itens  %}
            <p>{{ item }}</p>
          {% endfor %}
          </div>
        </a>
      {% endfor %}
  </section>
{% endblock content_section %}