{% extends "my_account.html" %}

{% block content_section %}
  <style>
    #myAccount {
        background: #4CAF50;
        color: white;
    }
  </style>
  <!-- Minha Conta -->
  <section class="content-section">
    <h1>Informações da Conta</h1>
    <div class="info-box">
      <p><strong>Nome:</strong> {{user.first_name}} {{user.last_name}}</p>
      <p><strong>Email:</strong> {{user.email}}</p>
      <hr>
      <button class="btn">
          Editar Informações
      </button>
    </div>
  </section>
{% endblock content_section %}