{% extends "base.html" %}

{% block title_content %}
  <title>Mercadinho X — Minha Conta</title>
{% endblock title_content %}

{% block content %}
  <style>
    .sidebar {
        width: 260px;
        background: #ffffff;
        height: 100vh;
        border-right: 1px solid #eee;
        padding: 30px 20px;
        box-sizing: border-box;
        position: fixed;
    }

    .sidebar h2 {
        margin-top: 0;
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 25px;
    }

    .menu-item {
        padding: 12px 15px;
        margin-bottom: 8px;
        cursor: pointer;
        border-radius: 6px;
        transition: 0.2s;
        font-size: 15px;
    }

    /* Conteúdo */
    .content {
        margin-left: 260px;
        padding: 40px;
        width: calc(100% - 260px);
    }

    h1 {
        margin-top: 0;
    }

    .btn {
      padding:10px 20px;
      background:#4CAF50;
      color:#fff;
      border:none;
      border-radius:6px;
    }

    .info-box {
        background: white;
        padding: 25px;
        border-radius: 8px;
        box-shadow: 0px 2px 5px rgba(0,0,0,0.06);
        max-width: 600px;
    }

    .order-item {
        padding: 15px;
        background: white;
        border-radius: 6px;
        margin-bottom: 12px;
        border: 1px solid #eee;
    }

    .address-item {
        padding: 15px;
        background: white;
        border-radius: 6px;
        margin-bottom: 12px;
        border: 1px solid #eee;
    }

    .links_myArea {
      text-decoration: none;
      color: inherit;
    }

    #button_logout {
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
    }
  </style>

  <!-- MENU LATERAL -->
    <aside class="sidebar">
      <h2>Minha Área</h2>

      <a class="links_myArea" href="{% url 'my_account' %}"><div class="menu-item" id="myAccount">Minha Conta</div></a>
      <a class="links_myArea" href="{% url 'orders' %}"><div class="menu-item" id="myOrders">Meus Pedidos</div></a>
      <a class="links_myArea" href="{% url 'adress_list' %}"><div class="menu-item" id="myAdresses">Meus Endereços</div></a>
      <div class="menu-item" id="logout">
        <form method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button type="submit" id="button_logout">Sair</button>
        </form>
      </div>
    </aside>

    <main class="content">
      {% block content_section %}
      {% endblock content_section %}
    </main>
{% endblock content %}